@model IEnumerable<RoleViewModel>

@{
    ViewData["Title"] = "Roller";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>

@if (User.HasClaim(x => x.Value == ConstPrivileges.ADD_ROLE))
{
    <p>
        <a asp-action="Add">Yeni Rol Oluştur</a>
    </p>
}


@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Ayrıntılar</a>
                        @if (User.HasClaim(x => x.Value == ConstPrivileges.UPDATE_ROLE) && item.Name != ConstRoles.ADMIN)
                        {
                            <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Güncelle</a>
                        }
                        @if (User.HasClaim(x => x.Value == ConstPrivileges.DELETE_ROLE) && item.Name != ConstRoles.ADMIN)
                        {
                            <a href="#" data-toggle="modal" data-target="#customModal" data-id="@item.Id" class="btn btn-danger btn-sm">Sil</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center mt-3">
        <p class="lead">
            Hiç rol bulunamadı.
        </p>
    </div>
}

<partial name="_CustomModal" model='("Silme İşlemi","Seçilen rol kalıcı olarak silinecektir. Devam edilsin mi?")' />

@section Scripts{
    <script>
        $(document).ready(() => {

            $("#customModal").on("show.bs.modal", event => {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                $("#btnYes").click(() => {
                    $.ajax({
                        type: "GET",
                        url: "./Role/Delete",
                        data: { id: id },
                        dataType: "json",
                        contentType: "application/json; charset=utf8",
                        success: (data) => {
                            if (data.includes("Hata")) {
                                window.location.href = "/Home/Error";
                            } else if (data.includes("Uyarı")) {
                                alert(data);
                            }
                            window.location.reload();
                        }
                    });
                })
            })
        })
    </script>

}
