@model IEnumerable<Restopos.Yoklama.Web.Models.AbsenceTypeViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Devamsızlık Türleri</h2>

<p>
    <a asp-action="Add">Yeni bir devamsızlık türü oluşturun...</a>
</p>

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsHourly)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @(item.IsHourly?"Saatlik":"Günlük")
                    </td>
                    <td>
                        <a asp-action="Update" class="btn btn-sm btn-warning" asp-route-id="@item.Id">Güncelle</a>
                        <a asp-action="Delete" class="btn btn-sm btn-danger" data-toggle="modal" 
                           data-target="#customModal" data-id="@item.Id">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center mt-3">
        <p class="lead">
            Herhangi bir devamsızlık türü bulunamadı.
        </p>
    </div>
}

<partial name="_CustomModal" model='("Silme İşlemi","Devamsızlık türü kalıcı olarak silinecektir. Devam edilsin mi?")' />

@section Scripts{

    <script>
            $(document).ready(() => {

                $("#customModal").on("show.bs.modal", event => {
                    var button = $(event.relatedTarget);
                    var id = button.data('id');
                    $("#btnYes").click(() => {
                        $.ajax({
                            type: "GET",
                            url: "./AbsenceType/Delete",
                            data: { id: id },
                            dataType: "json",
                            contentType: "application/json; charset=utf8",
                            success: (data) => {
                                window.location.reload();
                            },
                            error: (err) => {
                                console.log(err);
                                alert(err.statusText);
                            }
                        });
                    })
                })
            })
    </script>

}


