@model IEnumerable<DepartmentViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Departmanlar</h2>

@if (User.HasClaim(x => x.Value == ConstPrivileges.ADD_DEPARTMENT))
{
    <p>
        <a asp-action="Add">Yeni Departman Oluştur</a>
    </p>
}

@if (Model.Count() > 0)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @Html.HiddenFor(modelItem => item.Id)
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @if (User.HasClaim(x => x.Value == ConstPrivileges.UPDATE_DEPARTMENT))
                        {
                            <a asp-action="Update" class="btn btn-warning btn-sm" asp-route-id="@item.Id">Güncelle</a>
                        }
                        @if (User.HasClaim(x => x.Value == ConstPrivileges.DELETE_DEPARTMENT))
                        {
                            <a href="#" data-toggle="modal" data-target="#customModal" class="btn btn-danger btn-sm" data-id="@item.Id">Sil</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="_CustomModal" model='("Silme İşlemi","Departman kalıcı olarak silinecektir. Devam edilsin mi?")' />

    @section Scripts{

        <script>
            $(document).ready(() => {

                $("#customModal").on("show.bs.modal", event => {
                    var button = $(event.relatedTarget);
                    var id = button.data('id');
                    $("#btnYes").click(() => {
                        $.ajax({
                            type: "GET",
                            url: "./Department/Delete",
                            data: { id: id },
                            dataType: "json",
                            contentType: "application/json; charset=utf8",
                            success: (data) => {
                                window.location.reload();
                            },
                            error: (err) => {
                                console.log(err);
                                alert(err.statusText);
                            }
                        });
                    })
                })
            })
        </script>

    }
}
else
{
    <div class="text-center mt-3">
        <p class="lead">
            Departman bilgisi bulunamadı.
        </p>
    </div>
}
